body {
  background-color: antiquewhite;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  color: antiquewhite;
}

.search-form-input {
  background-color: black;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background-color: cadetblue;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

.weather-app-city {
  margin: none;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 20px;
}

.weather-app-details strong {
  color: palevioletred;
}

.weather-app-temp-container {
  display: flex;
}

.weather-app-temp-value {
  font-size: 88px;
  margin-left: 10px;
  font-weight: bold;
}

.weather-app-icon {
  font-size: 44px;
  margin-top: 22px;
}

.weather-app-unit {
  margin-top: 16px;
  font-size: 20px;
}

.weather-app- header {
  border-bottom: 1px solid #f9f7fe;
  padding: 30px;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 30px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}
main {
  padding: 30px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0);
}
